:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.movie img {
  width: 200px;
  height: 400px;
}

.brand {
  font-size: 30px;
  color: black;
  font-family: 'Audiowide';
  font-style:italic;
}

.me-auto {
  font-size: 18px;
  color: white;
  font-family: 'Lucida Sans';
  margin-top: 5px;
}

.movies {
  margin-top: 20px;
}

.movieContainer{
  overflow-x: hidden;
  background-color: rgb(24, 24, 24);
}

.navbarContainer {
  margin-left: 80px;
}

.cardLayout {
  margin: auto;
  margin-bottom: 6;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgb(255,204,0), 0 4px 8px rgba(255,204,0);
}

.card{
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.headlineDate{
  color: rgb(255,204,0);
  text-align: center;
  margin-bottom: -10px;
  margin-top: 20px;
}

.headlineLine{
  color: rgb(255,204,0);
}

.nav-link:hover{
  transform: scale(1.10);
}

.nav-link{
  font-weight: bold;
}

.movieDetails {
  background-color:rgb(24, 24, 24);
}

.movieTitle {
  color: rgb(255,204,0);
  font-size: 30px;
}

.detailsDate {
  font-size: 24px;
  color: rgb(255,204,0);
}